#mainDiv::-webkit-scrollbar {
    -webkit-appearance: none
 }
.images::-webkit-scrollbar {
   -webkit-appearance: none
}
 #mainDiv>img {
    margin-left: 10rem;
    margin-right: 1rem;
    border-radius: 10px;
    height: 40vh;
    
 }
